@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
  --heading-font: 'DM Serif Display', serif;
  --body-font: 'Karla', sans-serif;
  --font-size: 16px;
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-blue: hsl(216, 30%, 68%);
  --neutral-dark-violet: hsl(270, 9%, 17%);
  --neutral-gray-violet: hsl(273, 4%, 51%);
  --neutral-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-size: var(--font-size);
  font-family: var(--body-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 400;
  margin: 0;
}

p {
  color: var(--neutral-gray-violet);
}

.btn {
  background-color: transparent;
  border: 1px solid var(--neutral-light-gray);
  color: var(--neutral-light-gray);
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}

.container {
  width: 86%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-btn {
  background: url(images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
}

.showcase {
  background: url(images/image-intro-mobile.jpg) no-repeat center/cover;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 500px;
  position: relative;
}

.showcase.open {
  background: var(--neutral-dark-violet);
}

.showcase.open::after {
  content: url(images/bg-pattern-mobile-nav.svg);
  position: absolute;
  bottom: 0;
  right: 0;
}

.showcase.open .main-nav {
  display: block;
}

.main-nav {
  display: none;
}

.main-nav ul {
  list-style-type: none;
  text-align: center;
  padding: 30px 0 0;
  margin: 0;
}

.main-nav ul li {
  padding: 10px 0;
  margin-bottom: 10px;
}

.main-nav ul a {
  color: var(--neutral-light-gray);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-nav .btn {
  padding: 12px 0;
  width: 100%;
  font-size: var(--font-size);
}

.intro {
  background-color: var(--primary-dark-violet);
  padding: 80px 0 60px;
  text-align: center;
  color: var(--neutral-light-gray);
  position: relative;
}

.intro::before {
  content: url(images/bg-pattern-intro-left-mobile.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.intro:after {
  content: url(images/bg-pattern-intro-right-mobile.svg);
  position: absolute;
  bottom: -180px;
  right: 0;
}

.intro .intro-heading {
  font-size: 2.8rem;
  margin: 0;
}

.intro .intro-info {
  line-height: 1.6;
  margin-bottom: 30px;
}

.intro .btn {
  padding: 12px;
  font-size: 12px;
  width: 50%;
  margin-bottom: 50px;
}

.different {
  text-align: center;
  padding: 150px 0;
}

.different hr {
  width: 50%;
}

.different .different-heading {
  font-size: 2.8rem;
  margin: 30px 0 50px;
}

.different .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.different .icon-header {
  font-size: 1.5rem;
  margin: 20px 0;
}

.different .icon-text {
  margin: 0;
  line-height: 1.6;
}

.about {
  background-color: var(--primary-dark-violet);
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.about::after {
  content: url(images/bg-pattern-how-we-work-mobile.svg);
  position: absolute;
  top: 0;
  right: 1px;
}

.about .about-heading {
  color: var(--neutral-light-gray);
  font-size: 2rem;
  margin: 1rem;
}

.about .btn {
  padding: 12px 20px;
  font-size: 12px;
}

.main-footer {
  background: var(--neutral-light-gray);
  position: relative;
  text-align: center;
  padding: 90px 0 30px;
}

.main-footer::before {
  content: url(images/bg-pattern-footer-mobile.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.main-footer .socials {
  margin-top: 25px;
  border-bottom: 1px solid var(--neutral-gray-violet);
  padding-bottom: 30px;
}

.main-footer .social-icons {
  margin: 0 5px;
}

.main-footer .main-footer-links {
  padding-top: 20px;
}

.main-footer-links .topic h2 {
  font-size: 14px;
  color: var(--neutral-gray-violet);
  text-transform: uppercase;
  font-family: var(--body-font);
  margin: 20px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  color: var(--primary-dark-violet);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.copyright {
  padding-top: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--primary-blue);
}
