@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
  --heading-font: 'DM Serif Display', serif;
  --body-font: 'Karla', sans-serif;
  --font-size: 16px;
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-blue: hsl(216, 30%, 68%);
  --neutral-dark-violet: hsl(270, 9%, 17%);
  --neutral-gray-violet: hsl(273, 4%, 51%);
  --neutral-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-size: var(--font-size);
  font-family: var(--body-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 400;
  margin: 0;
}

p {
  color: var(--neutral-gray-violet);
}

.btn {
  background-color: transparent;
  border: 1px solid var(--neutral-light-gray);
  color: var(--neutral-light-gray);
  font-family: var(--body-font);
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
}

.container {
  width: 86%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.desktop-main-nav {
  display: none;
}

.nav-btn {
  background: url(images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.main-header.open .nav-btn {
  background: url(images/icon-close.svg) no-repeat center/cover;
}

.nav-btn:focus {
  outline: none;
}

.showcase {
  background: url(images/image-intro-mobile.jpg) no-repeat center/cover;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 500px;
  position: relative;
}

.showcase.open {
  background: var(--neutral-dark-violet);
}

.showcase.open::after {
  content: url(images/bg-pattern-mobile-nav.svg);
  position: absolute;
  bottom: 0;
  right: 0;
}

.showcase.open .main-nav {
  display: block;
}

.main-nav {
  display: none;
}

.main-nav ul {
  list-style-type: none;
  text-align: center;
  padding: 30px 0 0;
  margin: 0;
}

.main-nav ul li {
  padding: 10px 0;
  margin-bottom: 10px;
}

.main-nav ul a {
  color: var(--neutral-light-gray);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-nav .btn {
  padding: 12px 0;
  width: 100%;
  font-size: var(--font-size);
}

.intro {
  background-color: var(--primary-dark-violet);
  padding: 80px 0 60px;
  text-align: center;
  color: var(--neutral-light-gray);
  position: relative;
}

.intro::before {
  content: url(images/bg-pattern-intro-left-mobile.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.intro:after {
  content: url(images/bg-pattern-intro-right-mobile.svg);
  position: absolute;
  bottom: -180px;
  right: 0;
}

.intro .intro-heading {
  font-size: 2.8rem;
  margin: 0;
}

.intro .intro-info {
  line-height: 1.6;
  margin-bottom: 30px;
}

.intro .btn {
  padding: 12px;
  font-size: 12px;
  width: 50%;
  margin-bottom: 50px;
}

.intro-image {
  display: none;
}

.different {
  text-align: center;
  padding: 150px 0;
}

.different hr {
  width: 50%;
}

.different .different-heading {
  font-size: 2.8rem;
  margin: 30px 0 50px;
}

.different .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.different .icon-header {
  font-size: 1.5rem;
  margin: 20px 0;
}

.different .icon-text {
  margin: 0;
  line-height: 1.6;
}

.about {
  background-color: var(--primary-dark-violet);
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.about::after {
  content: url(images/bg-pattern-how-we-work-mobile.svg);
  position: absolute;
  top: 0;
  right: 1px;
}

.about .about-heading {
  color: var(--neutral-light-gray);
  font-size: 2rem;
  margin: 1rem;
}

.about .btn {
  padding: 12px 20px;
  font-size: 12px;
}

.main-footer {
  background: var(--neutral-light-gray);
  position: relative;
  text-align: center;
  padding: 90px 0 30px;
}

.main-footer::before {
  content: url(images/bg-pattern-footer-mobile.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.main-footer .social {
  border-bottom: 1px solid var(--neutral-gray-violet);
}

.main-footer .socials {
  margin-top: 25px;
  padding-bottom: 30px;
}

.main-footer .social-icons {
  margin: 0 5px;
  cursor: pointer;
}

.main-footer .main-footer-links {
  padding-top: 20px;
}

.main-footer-links .topic h2 {
  font-size: 14px;
  color: var(--neutral-gray-violet);
  text-transform: uppercase;
  font-family: var(--body-font);
  margin: 20px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  color: var(--primary-dark-violet);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.copyright {
  padding-top: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--primary-blue);
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }

  .desktop-main-nav {
    display: flex;
  }

  .desktop-main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .desktop-main-nav li {
    padding: 0 12px;
  }

  .desktop-main-nav a {
    text-decoration: none;
    color: var(--neutral-gray-violet);
    font-size: 1rem;
    text-transform: uppercase;
  }

  .desktop-main-nav a:hover {
    color: var(--neutral-dark-violet);
    font-weight: 600;
  }

  .desktop-main-nav .btn {
    border-color: var(--primary-dark-violet);
    color: var(--primary-dark-violet);
    font-weight: 600;
    margin-left: 1rem;
    padding: 12px 24px;
  }

  .desktop-main-nav .btn:hover {
    color: var(--neutral-light-gray);
    background-color: var(--neutral-dark-violet);
  }

  .nav-btn {
    display: none;
  }

  .showcase {
    display: none;
  }

  .intro {
    text-align: left;
    position: relative;
    padding: 150px 0 0;
    height: 680px;
  }

  .intro::before {
    content: url(images/bg-pattern-intro-left-desktop.svg);
    top: 510px;
  }

  .intro::after {
    content: url(images/bg-pattern-intro-right-desktop.svg);
    z-index: 1;
    bottom: 0px;
    top: 0;
    right: -50px;
  }

  .intro .container {
    display: flex;
    justify-content: space-between;
  }

  .welcome {
    width: 50%;
    max-width: 600px;
  }

  .desktop-border {
    border-top: 1px solid var(--neutral-light-gray);
    width: 170px;
    margin-bottom: 4rem;
  }

  .intro .intro-heading {
    font-size: 5rem;
    line-height: 1;
  }

  .intro .btn {
    width: 30%;
  }

  .intro .btn:hover,
  .about .btn:hover {
    background-color: var(--neutral-light-gray);
    color: var(--neutral-dark-violet);
    font-weight: 600;
  }

  .intro-image {
    display: block;
    position: absolute;
    right: -0;
    top: 0;
  }

  .different {
    text-align: left;
    padding-top: 350px;
  }

  .different .different-heading {
    font-size: 4rem;
  }

  .different .different-heading span {
    border-top: 1px solid var(--primary-dark-violet);
    padding-top: 30px;
  }

  .different .cards {
    display: flex;
    margin-top: 80px;
    margin-bottom: 70px;
  }

  .different .card {
    text-align: left;
    align-items: start;
    margin-right: 30px;
  }

  .about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about::after {
    content: url(images/bg-pattern-how-we-work-desktop.svg);
  }

  .about .about-heading {
    margin: 0;
    font-size: 3rem;
    width: 46%;
    line-height: 1;
  }

  .main-footer {
    padding-top: 30px;
  }

  .main-footer::before {
    content: url(images/bg-pattern-footer-desktop.svg);
  }

  .main-footer .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer .main-footer-links {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
  }

  .main-footer-links .topic {
    text-align: left;
  }

  .main-footer-links .topic h2 {
    margin: 20px 0;
  }

  .social-icons:hover path {
    fill: var(--neutral-dark-violet);
  }

  .footer-nav a:hover {
    text-decoration: underline;
  }
}
